.machine {
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  width: 711px;
  height: 1400px;
  margin-left:auto;
  margin-right:auto;
  border-left: 40px solid rgb(82,76,76);
  border-right: 40px solid rgb(82,76,76);
  background-color: rgb(30,30,30);
}

@media only screen and (max-width: 500px) {
  .machine {
  }
}

.screen {
  z-index: 0;
}

.nav-bar {
  z-index: 4;
}

.bottom-cover {
  position: relative;
  top:2px;
  width: 711px;
  height: 697px;
  background-color: rgb(68,200,141);
}
