
.controller {
  padding: 20px;
  background-color: rgb(82,76,76);
  width: 560px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid black 1px;
  transform: perspective(250px) rotateX(30deg);
}
