.icon {
  width: 45px;
  height: 45px;
  position: absolute;
  right:7px;
  bottom: -8px;
}

/* The dropdown container */
.dropdown {
  float: right;
  position: relative;
  right:10px;
  bottom: -70px;
  width: 45px;
  height: 45px;
}

.dropbtn {
  height: 45px;
  width: 45px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.light-box a:hover, .dropdown:hover .dropbtn {

}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 50px;
  z-index: 1;
  right: -10px;
  box-shadow:  0 0 5em rgb(68,200,141), 0 0 0.5em rgb(68,200,141), 0 0 0.1em rgb(68,200,141), 0 10px 3px #000;

}

/* Links inside the dropdown */
.dropdown-content input {
  border-style: none;
  font-size: 30px;
  float: none;
  color: white;
  background-color: rgb(68,200,141);
  display: block;
  padding: 20px;


}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
