.icon {
  width: 45px;
  height: 45px;
  position: absolute;
  right:7px;
  bottom: -8px;
}

.dropbtn {
  height: 45px;
  width: 45px;
}

.dropdown {
  float: right;
  position: relative;
  right:10px;
  bottom: -70px;
  width: 45px;
  height: 45px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  right: -10px;
  font-size: 25px;
}

.button1 {
  font-size: 20px;
  background-color: rgb(68,200,141);
  margin-top: 30px;
  border-style: none;
  float: right;
  padding: 15px;
  width: 200px;
  box-shadow:  0 0 5em rgb(68,200,141), 0 0 0.5em rgb(68,200,141), 0 0 0.1em rgb(68,200,141), 0 10px 3px #000;
}
.button2 {
  font-size: 20px;
  margin-top: 30px;
  border-style: none;
  padding: 15px;
  width: 180px;
  background-color: rgb(68,200,141);
  border: 2px outset rgb(80,220,167);

}

.presetForm {

  float: left;
  margin-top: 30px;
  text-align: center;
  background-color: rgb(68,200,141);
  box-shadow:  0 0 5em rgb(68,200,141), 0 0 0.5em rgb(68,200,141), 0 0 0.1em rgb(68,200,141), 0 10px 3px #000;

}
label {
  top: 20px;
  position: relative;
  padding: 5px;
}

.presetForm input {
  font-size: 17px;
  position: relative;
  top:25px;
  padding: 10px;

}

.button:hover {
  background-color: darkslategrey;
}

.dropdown:hover .dropdown-content {
  display: block;
}
