

.grid {
  padding-top: 10px;
  //border: black solid 3px;
  height: 270px;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  top: 10px;
  border-radius:5px;
  transform: perspective(250px) rotateX(1deg);
  border-radius: 93px 93px 0px 0px / 15px 15px 15px 15px;
  //box-shadow: 0 50px 100px, 0 0 5px, 0 0 8em mediumseagreen, 0 0 0.5em mediumseagreen, 0 0 0.4em mediumseagreen;

  overflow: scroll;
  background: black;



}
.rows {
  width: 7%;
  height:100%;
  float: left;

}

.row > span {
  position: relative;
  margin-right: 3px;
  font-size: 13px;
  color: mediumseagreen;
  font-weight:600;

}

.row {
  box-sizing: border-box;
  text-align:right;
  width: 100%;
  height: 8.28%;
}


.column {
  display: inline-block;
  box-sizing: border-box;
  width: 6.25%;
  height: 400%;
}

.columns {
  box-sizing: border-box;
  border:1px solid rgb(68,200,141);
  display: inline-block;
  width: 91%;
  height: 100%;
}

.cell {
  box-sizing: border-box;
  width: 100%;
  height: 2.079%;
  border: 1px solid rgb(68,200,141);
}

.active {
 background-color: rgb(68,200,141);
}

.highlight{
  background-color: rgba(201,119,69,0.6);
}
