.screen {
  width: 92%;
  height: 370px;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  box-shadow: inset 20px 30px 70px 10px, inset 0 0 10px grey, inset 0 0 4em grey, inset 0 0 0.5em grey, inset 0 0 60em -50px grey;
  border-radius: 90px 93px 93px 93px / 15px 15px 15px 15px;
  transform: perspective(100px) rotateX(1deg);
}

.back-board {
    position: relative;
    top: 14px;
    padding: 10px;
    width: 70%;
    height: 400px;
    background-color: rgb(40,40,40);
    margin-right: auto;
    margin-left: auto;
    transform: perspective(100px) rotateX(1deg);
    border-bottom: solid black 10px;
    box-shadow: inset 0 -28px 60px -7px rgba(68,200,141,0.4);
}


@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {

  .back-board {
    transform: perspective(0px) rotateX(0deg);
  }
}}

@media only screen
  and (max-device-width: 1020px)
  and (-webkit-min-device-pixel-ratio: 1) {

    .back-board {
      transform: perspective(0px) rotateX(0deg);
      width: 95%;
      height: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    .screen {
      transform: perspective(0px) rotateX(0deg);
      width: 98%;
      height: 100%;
    }
  }
