
.input-range {
  -webkit-appearance: none;
  height: 50px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 10px;
  margin-left: 10px;
}
.volume-controls {
  position: absolute;
  right: 35px;
  bottom: 20px;
}

.volume img{
  position: absolute;
  top: 55px;
  left: 9px;
  width: 17px;
}

.mute{
  position: absolute;
  top: 52px;
  left:30px;
  width: 17px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px;
}
